/* checkboxes container */
.form-input > div {
    
    margin-block: 1vh;
}

/* checkboxes labels */
.form-input label {
    font-size: var(--fs-small);
}

/* form input text */
.input-text {
    border-radius: var(--border-radius);
    border: none;
    outline: none;
    resize: none;
    padding: 0.5em;
    
    height: 30vh;
    font-size: var(--fs-normal);
    opacity: 0.8;
    transition: opacity 1s;
}

/* form input when writting */
.input-text:focus {
    opacity: 1;
}

/* Responsiveness */
@media screen and (min-width: 480px){
    .form-input {
        width: 65%;
    }

}

@media screen and (min-width: 800px){
    .form-input {
        width: 50%;
    }

}