.DS_Store
*__pycache__
/news_bias_evaluator/env/
.ipynb_checkpoints/
/news_bias_evaluator/application_default_credentials.json
/notebooks/toy_model/credentials.json
/notebooks/bias_model/Model-References/
