<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bias Evaluator</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/style.css' %}">
    <link rel="stylesheet" href="{% static 'app/main.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&family=Varela+Round&display=swap" rel="stylesheet">
</head>
<body>

    {% include 'app/header.html' %} 
    <h1>DASHBOARD</h1>
    <a href='/admin/database/'%}"><button class="txt-btn">Go to database</button></a>
    <div class="dashboard-container">
        <section class="admin-request-container">
                <form class="form-input" action="{%url 'app:process_admin_request'%}" method="post">
                    {% csrf_token %}
                    <div class="model-selection-container">
                        <label for="model-options">Select model to use</label>
                        <select name="model-options" id="model-options">
                        {% if models %}
                            {% for model in models %}
                            <option value="{{model.name}}">{{model.name}}</option>
                            {% endfor %}
                        {% else %}
                            <option value="no-models">No models registered</option>
                        {% endif %}
                        </select>
                    </div>
                    <div class="model-selection-container"><label for="action-selection">Choose an action to take</label>
                        <select name="action-selection" id="action-selection">
                            <option value="evaluate">Evaluate</option>
                            <option value="retrain">Retrain</option>
                        </select>
                    </div>
                    <input class="txt-btn" type="submit" value="Start">
                </form>
        </section>
        <div class="plot-container">
            <img src="{% static 'app/images/plot-placeholder.png' %}" alt="plot">
        </div>
    </div>
   
    
</body>
</html>

<style>
.dashboard-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 4vh;
}

.admin-request-container,
.plot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.model-selection-container {
    display: flex;    
}

.model-selection-container > * {
    padding-inline: 1rem;
    margin-inline: auto;
}
</style>