<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bias Evaluator</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/style.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&family=Varela+Round&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    {% include 'app/header.html' %}
    <h1>Retraining</h1>
    <div class="loader"></div>
    <div class="info-text">
      <span id="status_text">This may take several minutes...</span>
    </div>

    {% block javascript %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
      const statusMessageDisplayText = {
        QUEUED: "Training job is queued",
        PREPARING: "Preparing training job",
        RUNNING: "Running the training job...",
        SUCCEEDED: "Retraining success!",
        CANCELLING: "Cancelling training job...",
        CANCELLED: "Retraining cancelled: ",
      };

      setInterval(function () {
        $.ajax({
          type: "GET",
          url: "/trainingStatus/",
          data: { job_name: "{{job_name}}" },
          success: function callback(response) {
            console.log(response);
            status = response.state;
            if (status) {
              document.getElementById("status_text").innerHTML =
                statusMessageDisplayText[status];
            }
          },
        });
      }, 10000);
    </script>
    {% endblock javascript %}
  </body>
</html>

<style scoped>
  /* Loading bar reference: https://www.w3schools.com/howto/howto_css_loader.asp */
  .loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin: 3rem auto 0;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .info-text {
    padding-top: 1rem;
    font-size: 15px;
  }
</style>
