/* Defines base variables for the whole website */
html {
    /* font families */
    --ff-title: 'Varela Round';
    --ff-text: 'Ubuntu';

    /* colors */
    --backgound-accent: #2A9D8F;
    --backround-main: #264653;
    --shadow-color: rgb(28, 27, 27);
    --txt-color-bias: #E76F51;
    --txt-color: #fff;

    /* font sizes */
    --fs-small: 0.5rem;
    --fs-large: 2rem;
    --fs-medium: 1rem;
    --fs-normal: 0.75rem;

    /* border radius for buttons and boxes */
    --border-radius: 0.5rem;

    /* setting some base variables at the HTML level */
    font-family: var(--ff-title), sans-serif;
    background-color: var(--backround-main);
    color: var(--txt-color);
    text-align: center;
    align-content: center;
    height: 100vh;
}

/* utility class for flexbox column */
.flex-col {
    display: flex;
    flex-direction: column;
}

/* Header styling -> title and logo container */
.header-container {
    display: flex;
    flex-direction: column;
    background-color: var(--backgound-accent);
    gap: 1rem;
    box-shadow: 0 0.1rem 0.3rem var(--shadow-color);
}
 /* title styling */
h1 {
    font-family: var(--ff-title), sans-serif;
    font-size: var(--fs-large);
    margin-bottom: 0;
    justify-self: flex-end;
    /* margin-left: auto; */
}
/* Logo */
.logo {
    max-width: 25%;
}

/* Container with the header buttons */
.container-btn {
    display: flex;
    gap: 0.5rem;
}

/* header buttons */
.nav-btn {
    aspect-ratio: 1/1;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;
    align-self: flex-end;
    margin-bottom: 1rem;
    width: 5vw;
    max-width: 30px;    
}

/* Login button */
.login-btn {
    margin-left: 3vw;
    background-image: url("images/login.svg");
}

.logout-btn {
    margin-left: 3vw;
    background-image: url("images/logout.svg");
}

/* github button */
.github-btn {
    margin-right: 3vw;
    background-image: url("images/github.svg");
}

/* information button */
.info-btn {
    margin-left: auto;
    background-image: url("images/info.svg");
}

/* container for the form */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    margin: auto;
    gap: 5vh;
}

/* slogan */
.form-container > p {
    font-size: var(--fs-medium);
}

/* actual form */
.form-input {
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

/* Style for the buttons with text */
.txt-btn {
    background-color: var(--backgound-accent);
    border: none;
    border-radius: var(--border-radius);
    color: var(--txt-color);
    padding: 0.3rem 1.5rem;
    cursor: pointer;
    font-size: var(--fs-medium);
    align-self: center;
    
}

/* Transition for all buttons */
.txt-btn,
.nav-btn {
    transition: transform 300ms;
}

.txt-btn:hover,
.nav-btn:hover {
    transform: scale(1.2);
}

/* Responsiveness */
@media screen and (min-width: 480px){
    .form-input {
        width: 65%;
    }

    .logo {
        width: 15%;
    }

    html {
    
        --fs-small: 1rem;
        --fs-large: 3rem;
        --fs-medium: 1.5rem;
        --fs-normal: 1.25rem;
        
        }
}

@media screen and (min-width: 800px){
    .form-input {
        width: 50%;
    }

    .logo {
        width: 10%;
    }


    html {
    
    --fs-small: 1rem;
    --fs-large: 3.5rem;
    --fs-medium: 1.75rem;
    --fs-normal: 1.5rem;
    
    }
}